
body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


/* Sign In Form */

form.signin-form div {
  min-height: 2em;
}

form.signin-form > div.button-holder {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}


/* Navbar icon */
.navbar-brand .glyphicon {
  color: #ff9900;
}

/* Custom */
.retell-entry {
  margin-top: 1em;
  /*border-top: 1px solid #d3d7cf;*/
  padding-top: 0.5em;
}

.star-rating {
  color: #f0ad4e;
}



/* Related Items, see DetailPage */

.related-items {
  border-radius: 0.2em;
  margin-right: 1.1em;
}

.related-items-header {
  font-weight: bold;
}

/* CatalogList */

ul.catalog-list {
  list-style: none outside none;
  padding: 0;
}

ul.catalog-list li {
  border-top: 1px solid #eee;
  padding-bottom: 1em;
}

/* GenericCatalogItemDetails */

table.item-info > tbody > tr > td {
  padding: 0.5em;
}

table.item-info > tbody > tr > td:first-child {
  font-weight: bold;
}

/* Inline Item, see InlineCatalogItem */

.inline-item {
  padding-left: 0.3em;
}

/* Named Value Element (see InlineCatalogItemWithId) */

.named-value-elem {
  padding: 0.5em;
  display: inline-block;
}


/* Favorites */

.j-fav-link .star {
  display: none;
}

.j-fav-link .unstar {
  display: inline;
}

.j-fav-link.fav .star {
  display: inline;
}

.j-fav-link.fav .unstar {
  display: none;
}
